@mixin center($column) {
    display: flex;
    @if $column {
        flex-direction: column;
    }
    @else {
        flex-direction: row;
    }

    align-items: center;
    justify-content: center;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 2rem;
    line-height: 2;
    scroll-behavior: smooth;
}

/* Globales */
img {
    max-width: 100%;
}

.contenedor {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;

    @media (min-width: 870px) {
        width: 70%;
    }
}

.h-100vh {
    height: 100vh;
}

.site-hero {
    height: 100vh;
    @include center(true);
}

.main-title {
    font-size: 5vw;
    text-align: center;

    @media (max-width: 800px) {
        font-size: 13vw;
    }

}
.home-button {
    position: fixed;
    color: #6eeb83;
    font-weight: 700;
    font-size: 2.2rem;
    top: 2rem;
    left: 2rem;
    text-decoration: none;
    z-index: 2;
}